:root {
  --shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.blog__section {
  max-width: 1350px;
  width: 95%;
  margin: 2em auto 3.5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

/* options */

.options > * + * {
  margin-bottom: 20px;
  box-shadow: var(--shadow);
  padding: 10px;
}

@media screen and (min-width: 800px) {
  .blog__section {
    flex-direction: row;
    gap: 20px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    flex-basis: 70%;
  }
  .options {
    flex-basis: 30%;
  }

  .card__content h2 {
    font-size: 1.8em;
  }
}
