:root {
  --shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.blog__section {
  max-width: 1350px;
  width: 95%;
  margin: 2em auto 3.5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.grid {
  display: grid;
  gap: 1em;
}

.card {
  padding: 1.2em;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.card__name {
  margin: 0.7em 0;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.605);
}

.card__header {
  font-size: 1.8em;
  color: rgb(69, 69, 69);
}

/* options */

.options > * + * {
  margin-bottom: 20px;
  box-shadow: var(--shadow);
  padding: 10px;
}

/* popular post card */

.popular__post__header {
  text-align: center;
  font-size: 2.4em;
  margin: 0.6em 0 0.8em;
}

.popular__post__card {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.card__img {
  flex-basis: 30%;
}

.card__content {
  flex-basis: 70%;
  margin-left: 1em;
}

.card__content h2 {
  margin-bottom: 10px;
  color: rgb(44, 44, 44);
  font-size: 1.8em;
}

.card__content div {
  display: flex;
}

/* gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 1em;
}

.gallery__img {
  border-radius: 10px;
  height: 100%;
}

.tag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.social {
  display: grid;
  gap: 10px;
}

.subscribe {
  width: 100%;
  height: 50vh;
  background: url("https://source.unsplash.com/3wtXva9z4AA");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.subscribe h2 {
  font-size: 2em;
  color: rgb(212, 212, 212);
}

.subscribe p {
  color: rgb(206, 206, 206);
}

@media screen and (min-width: 800px) {
  .blog__section {
    flex-direction: row;
    gap: 20px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    flex-basis: 70%;
  }
  .options {
    flex-basis: 30%;
  }
}
