.subscribe {
  width: 100%;
  height: 50vh;
  background: url("https://source.unsplash.com/3wtXva9z4AA");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.subscribe h2 {
  font-size: 2em;
  color: rgb(212, 212, 212);
}

.subscribe p {
  color: rgb(206, 206, 206);
}
